* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --main-background-color: #0e1627;
  --main-text-color: #ffffff;
  --main-text2-color: #f9c740;
  --hover-color: #1d2738;
  --box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  --card-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
  --success-color: #81c784;
  --success-background: #1b3a2f;
}
body {
  scroll-behavior: smooth;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: Arial, sans-serif;
  line-height: 1.6;
  transition: all 0.3s ease;
}

.header {
  padding: 0px 5px;
  background-color: var(--main-background-color);
  box-shadow: var(--box-shadow);
  position: fixed;
  min-width: calc(100% - 40px);
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
  text-align: center;
}

.container {
  max-width: calc(100% - 60px);
  margin: 0 auto;
  padding: 5px 15px;
}

.container h2 {
  color: var(--main-text2-color);
}
